#divParent{
    background-color: #31b5ac;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    padding-top: 150px;
    padding-left: 100px;
  }
  /*************************** Background pris d'un CSS TOOL (https://wweb.dev/resources/animated-css-background-generator) ******************************/
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 10vmin;
    height: 10vmin;
    border-radius: 10vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 42;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 95%;
    left: 86%;
    animation-duration: 84s;
    animation-delay: -33s;
    transform-origin: 0vw 20vh;
    box-shadow: 20vmin 0 3.0222786789308014vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 59%;
    left: 30%;
    animation-duration: 23s;
    animation-delay: -62s;
    transform-origin: 7vw -5vh;
    box-shadow: -20vmin 0 3.4883594516326495vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 26%;
    left: 42%;
    animation-duration: 72s;
    animation-delay: -64s;
    transform-origin: -20vw 14vh;
    box-shadow: 20vmin 0 2.8376426102060464vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 53%;
    left: 55%;
    animation-duration: 6s;
    animation-delay: -41s;
    transform-origin: 20vw -3vh;
    box-shadow: 20vmin 0 3.290888937918991vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 2%;
    left: 80%;
    animation-duration: 75s;
    animation-delay: -60s;
    transform-origin: -6vw -3vh;
    box-shadow: -20vmin 0 3.4982994564639993vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 97%;
    left: 75%;
    animation-duration: 82s;
    animation-delay: -52s;
    transform-origin: -16vw 22vh;
    box-shadow: -20vmin 0 2.6255575303421668vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 78%;
    left: 89%;
    animation-duration: 20s;
    animation-delay: -35s;
    transform-origin: 0vw 17vh;
    box-shadow: -20vmin 0 3.0061733915567137vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 82%;
    left: 26%;
    animation-duration: 74s;
    animation-delay: -27s;
    transform-origin: -6vw -4vh;
    box-shadow: -20vmin 0 2.549357679717874vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 6%;
    left: 75%;
    animation-duration: 82s;
    animation-delay: -19s;
    transform-origin: -17vw 11vh;
    box-shadow: 20vmin 0 3.1464536436959563vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 98%;
    left: 65%;
    animation-duration: 49s;
    animation-delay: -25s;
    transform-origin: 25vw -3vh;
    box-shadow: 20vmin 0 3.202598110169647vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 36%;
    left: 44%;
    animation-duration: 11s;
    animation-delay: -56s;
    transform-origin: 15vw 10vh;
    box-shadow: -20vmin 0 2.655183359064914vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 72%;
    left: 38%;
    animation-duration: 48s;
    animation-delay: -69s;
    transform-origin: 0vw 7vh;
    box-shadow: -20vmin 0;
} 
/********************************************************** CSS signup *****************************************************/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/*Style du bouton pris sur : https://getcssscan.com/css-buttons-examples */ 
#butInscription {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#butInscription:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#butInscription:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {

  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #000000;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/********************************************************** CSS login *****************************************************/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*Style du bouton pris sur : https://getcssscan.com/css-buttons-examples */ 
#butConnexion {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#butConnexion:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#butConnexion:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  color: white;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  color: white;
}

/* Modal Content/Box */
.modal-content {
  background-color:#942144;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Animation de Zoom */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/* Animation dans le style d'un battement de coeur pour les boutons*/
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}