body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: inline;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
form {
    display: inline;
    text-align: center;
    justify-content: center;
    margin-top: 50%;

}
.input{
    margin-top: 400px;
}
input {
    margin: 10px;
    border-radius: 5px;
}

button {
    background-color: #130202;
    color: white;
    border-radius: 10%;
    padding: 10px;
}